name: Nix Build and Check

on:
  push:
    branches:
      - master 
  pull_request:
    branches:
      - master 

jobs:
  check:
    uses: ./.github/workflows/check.yml
    secrets: inherit

  dynas:
    needs: check
    uses: ./.github/workflows/build-nixos.yml
    secrets: inherit
    with:
      hostname: dynas

  amdra:
    needs: check
    uses: ./.github/workflows/build-nixos.yml
    secrets: inherit
    with:
      hostname: amdra

  ovh-pl:
    needs: check
    uses: ./.github/workflows/build-nixos.yml
    secrets: inherit
    with:
      hostname: ovh-pl

  nixomagus:
    needs: check
    uses: ./.github/workflows/build-nixos.yml
    secrets: inherit
    with:
      hostname: nixomagus

  i7:
    needs: check
    uses: ./.github/workflows/build-nixos.yml
    secrets: inherit
    with:
      hostname: i7

  mydos:
    needs: check
    uses: ./.github/workflows/build-nixos.yml
    secrets: inherit
    with:
      hostname: mydos

  vampire:
    needs: check
    uses: ./.github/workflows/build-hm.yml
    secrets: inherit
    with:
      hostname: vampire
      user: simon